name: Build and Push

on: [push]

jobs:
  build-and-push:
 
    runs-on: ubuntu-18.04
    timeout-minutes: 300
    strategy:
      matrix:
        node: [20]
    env:
      DOCKERHUB_ID: ${{ secrets.DOCKERHUB_ID }}
      DOCKERHUB_PW: ${{ secrets.DOCKERHUB_PW }}

    steps:
    - uses: actions/checkout@v1    

    - name: login to docker hub
      run: |
        docker login -u="${DOCKERHUB_ID}" -p="${DOCKERHUB_PW}"

    - name: build and push image
      env:
        NODE_VERSION: ${{ matrix.node }}
      run: |
        envsubst '$$NODE_VERSION' < _Dockerfile > Dockerfile
        docker build -t ${DOCKERHUB_ID}/np:$NODE_VERSION-alpine .
        docker push ${DOCKERHUB_ID}/np:$NODE_VERSION-alpine
